In [76]:
#ETL process:
#1. examined CSV files for all years and manually deleted non-similar columns (only wanted columns that appear in ALL files)
#2. uploaded CSV files and merged using pandas

In [77]:
import pandas as pd
import glob

In [78]:
allfiles = glob.glob("*_Q4.csv")
print(allfiles)

['2013_Q4.csv', '2014_Q4.csv', '2015_Q4.csv', '2016_Q4.csv', '2017_Q4.csv', '2018_Q4.csv']

In [79]:
list_ = []

for file_ in allfiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

frame = pd.concat(list_, axis = 0, ignore_index = True)
frame.to_csv("allyears_merged.csv")

In [80]:
frame.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm)
0,10/1/2013,44772,73.665,85494,1004
1,10/2/2013,45667,76.149,85773,1129
2,10/3/2013,44472,72.635,86333,1076
3,10/4/2013,44089,74.223,87112,1434
4,10/5/2013,37683,73.892,87862,2971

In [81]:
frame.dtypes

Date                                                   object
Trips over the past 24-hours (midnight to 11:59pm)      int64
Miles traveled today (midnight to 11:59 pm)           float64
Total Annual Members (All Time)                         int64
24-Hour Passes Purchased (midnight to 11:59 pm)        object
dtype: object

In [82]:
#Annual members over time dataframe
#I want to make a dataframe that shows members per year; need to only have the last year of each year for this
annual_mem= frame[frame['Date'].str.contains("11/1/")]
annual_mem

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm)
31,11/1/2013,33193,52.035,93221,848
123,11/1/2014,6739,8703.000,126514,98
215,11/1/2015,30622,66939.000,156096,2090
307,11/1/2016,55944,110056.000,203888,868
399,11/1/2017,60772,111304.000,250975,717
491,11/1/2018,74258,1740.000,294111,3288

In [83]:
annual_mem.to_csv("annual_members.csv")

In [84]:
#Now doing ETL for rider data

In [85]:
riderfiles_2018 = glob.glob("JC*.csv")

In [86]:
for file_ in riderfiles_2018:
    rider_df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(rider_df)

riders = pd.concat(list_, axis = 0, ignore_index = True)

C:\Users\Anum Ali\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [87]:
riders

,24-Hour Passes Purchased (midnight to 11:59 pm),Date,Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),Trips over the past 24-hours (midnight to 11:59pm),bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,1004,10/1/2013,73.665,85494.0,44772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1129,10/2/2013,76.149,85773.0,45667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1076,10/3/2013,72.635,86333.0,44472.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1434,10/4/2013,74.223,87112.0,44089.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2971,10/5/2013,73.892,87862.0,37683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1368,10/6/2013,49.887,88604.0,29029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,421,10/7/2013,40.324,89189.0,27504.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,896,10/8/2013,69.116,89521.0,42200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,714,10/9/2013,62.214,89769.0,40607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,482,10/10/2013,49.732,89951.0,34107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,798,10/11/2013,56.497,90121.0,36381.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2855,10/12/2013,69.841,90301.0,35480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2208,10/13/2013,59.556,90522.0,31501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1291,10/14/2013,60.261,90770.0,36186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,934,10/15/2013,66.625,90977.0,41459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,789,10/16/2013,64.115,91171.0,40644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,815,10/17/2013,63.927,91343.0,40363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1267,10/18/2013,69.165,91551.0,41775.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2146,10/19/2013,59.523,91659.0,32469.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2114,10/20/2013,60.670,91815.0,32016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,849,10/21/2013,62.216,92029.0,38348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,636,10/22/2013,60.424,92213.0,39741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,355,10/23/2013,50.319,92324.0,35358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,444,10/24/2013,50.610,92410.0,35238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,592,10/25/2013,50.109,92505.0,33711.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1387,10/26/2013,45.372,92598.0,26653.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1362,10/27/2013,44.415,92698.0,25980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,530,10/28/2013,52.643,92844.0,34298.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,450,10/29/2013,53.765,92944.0,36280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,453,10/30/2013,54.940,93035.0,37817.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354354,NaN,NaN,NaN,NaN,NaN,29519.0,1958.0,3194.0,40.725340,-74.067622,McGinley Square,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-10 20:33:10.0440,2018-12-10 20:45:37.2790,747.0,Subscriber
354355,NaN,NaN,NaN,NaN,NaN,29657.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-11 06:19:14.0610,2018-12-11 06:37:58.7960,1124.0,Subscriber
354356,NaN,NaN,NaN,NaN,NaN,26287.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-11 12:01:04.1040,2018-12-11 12:11:52.9080,648.0,Subscriber
354357,NaN,NaN,NaN,NaN,NaN,29239.0,1958.0,3191.0,40.718211,-74.083639,Union St,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-11 17:46:56.6360,2018-12-11 17:56:31.6520,575.0,Subscriber
354358,NaN,NaN,NaN,NaN,NaN,26247.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-12 06:19:04.3900,2018-12-12 06:35:05.8390,961.0,Subscriber
354359,NaN,NaN,NaN,NaN,NaN,29641.0,1957.0,3694.0,40.711130,-74.078900,Jackson Square,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-12 09:09:44.0380,2018-12-12 09:44:02.7900,2058.0,Subscriber
354360,NaN,NaN,NaN,NaN,NaN,29641.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-12 11:54:45.5290,2018-12-12 12:05:25.7630,640.0,Subscriber
354361,NaN,NaN,NaN,NaN,NaN,29681.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-13 06:16:06.7510,2018-12-13 06:31:41.2170,934.0,Subscriber
354362,NaN,NaN,NaN,NaN,NaN,26190.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-13 12:17:13.6280,2018-12-13 12:28:57.2350,703.0,Subscriber
354363,NaN,NaN,NaN,NaN,NaN,26155.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-14 06:10:18.5060,2018-12-14 06:25:54.6120,936.0,Subscriber
354364,NaN,NaN,NaN,NaN,NaN,26312.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-14 12:34:01.0310,2018-12-14 12:45:09.6550,668.0,Subscriber
354365,NaN,NaN,NaN,NaN,NaN,29224.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-15 13:31:59.3590,2018-12-15 13:42:45.2030,645.0,Subscriber
354366,NaN,NaN,NaN,NaN,NaN,29126.0,1988.0,3279.0,40.721630,-74.049968,Dixon Mills,2.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-15 16:28:38.1250,2018-12-15 16:51:54.9460,1396.0,Subscriber
354367,NaN,NaN,NaN,NaN,NaN,29658.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-16 11:55:07.8820,2018-12-16 12:05:57.4260,649.0,Subscriber
354368,NaN,NaN,NaN,NaN,NaN,26251.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-17 06:26:18.2690,2018-12-17 06:42:42.9330,984.0,Subscriber
354369,NaN,NaN,NaN,NaN,NaN,29535.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-17 12:18:47.1320,2018-12-17 12:30:14.5090,687.0,Subscriber
354370,NaN,NaN,NaN,NaN,NaN,29276.0,1973.0,3194.0,40.725340,-74.067622,McGinley Square,2.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-17 17:38:45.4430,2018-12-17 17:50:52.4320,726.0,Subscriber
354371,NaN,NaN,NaN,NaN,NaN,29221.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-18 06:21:57.7450,2018-12-18 06:39:19.7440,1041.0,Subscriber
354372,NaN,NaN,NaN,NaN,NaN,29300.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-18 12:12:40.2980,2018-12-18 12:23:34.4020,654.0,Subscriber
354373,NaN,NaN,NaN,NaN,NaN,26220.0,1977.0,3183.0,40.716247,-74.033459,Exchange Place,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-19 06:15:11.2330,2018-12-19 06:32:06.2450,1015.0,Subscriber
354374,NaN,NaN,NaN,NaN,NaN,29299.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-19 11:39:50.4270,2018-12-19 11:50:58.2750,667.0,Subscriber
354375,NaN,NaN,NaN,NaN,NaN,29258.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-20 13:28:39.0590,2018-12-20 13:40:06.6410,687.0,Subscriber
354376,NaN,NaN,NaN,NaN,NaN,29664.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-21 12:05:04.3890,2018-12-21 12:15:29.5930,625.0,Subscriber
354377,NaN,NaN,NaN,NaN,NaN,26306.0,1991.0,3186.0,40.719586,-74.043117,Grove St PATH,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-21 16:34:37.2330,2018-12-21 16:48:24.0150,826.0,Subscriber
354378,NaN,NaN,NaN,NaN,NaN,26298.0,1994.0,3195.0,40.730743,-74.063784,Sip Ave,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-22 10:27:40.6590,2018-12-22 10:38:21.4170,640.0,Subscriber
354379,NaN,NaN,NaN,NaN,NaN,29586.0,1993.0,3269.0,40.726012,-74.050389,Brunswick & 6th,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,1081.0,Subscriber
354380,NaN,NaN,NaN,NaN,NaN,26241.0,1983.0,3280.0,40.719282,-74.071262,Astor Place,2.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,344.0,Subscriber
354381,NaN,NaN,NaN,NaN,NaN,29294.0,1988.0,3186.0,40.719586,-74.043117,Grove St PATH,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,1233.0,Subscriber
354382,NaN,NaN,NaN,NaN,NaN,29475.0,1991.0,3213.0,40.718489,-74.047727,Van Vorst Park,2.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,1057.0,Subscriber
354383,NaN,NaN,NaN,NaN,NaN,26270.0,1991.0,3277.0,40.714358,-74.066611,Communipaw & Berry Lane,1.0,3694.0,40.71113,-74.0789,Jackson Square,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,301.0,Subscriber